body {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-size: 15px;
    color: black;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(./resources/zoltan-tasi-HQPJEEjHqSE-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    width: 55%;
    height: 100%;
    text-align: center;
}

.sign {
    background-color: rgba(92, 18, 18, 0.2);
}

@font-face {
    font-family: "legacy";
    src: url(./resources/Moon_Dance/MoonDance-Regular.ttf);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60%;
    font-family: "legacy";
    color: black;
    font-size: 6rem;
    opacity: 1;
    background-color: rgba(145, 0, 0, 0.6);
    height: 120px;
    padding: 1rem;
}

.logo img {
    width: 10rem;
    align-self: baseline;
}

span {
    font-style: italic;
}

.call {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 15% 10% 0 5%;
}

p {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    line-height: 1.2;
    margin: 0 10% 0 5%;
}

.submit {
    padding: 2% 10% 5% 5%;
    border-top: 2px solid rgb(92, 18, 18);

}

form > div {
    margin: 0;
    margin-bottom: 1rem;
    display: flex;
    gap: 35%;
}

.left, .right {
    display: flex;
    flex-direction: column;
}

input {
    height: 2rem;
    width: 100%;
    border: 1px solid rgb(92, 18, 18);
    border-radius: 8px;
    background-color: transparent;
    padding: 1px 10px;
}

label {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(92, 18, 18);
}

button {
    padding: 7px 20px;
    border: 2px solid rgb(92, 18, 18);
    border-radius: 20px;
    background-color: black;
    color: brown;
    font-family: "legacy";
    font-size: 2rem;
}

.img-footer {
    color: white;
}

.sign a {
    color: rgb(92, 18, 18);
}

.background a {
    color: rgb(168, 103, 103);
}

a {
    text-decoration: none;
}

.login {
    font-size: 1rem;
    margin-top: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input:focus {
    outline: 1px solid brown;
    background-color: rgb(168, 103, 103);
}

button:active {
    background-color: transparent;
}